<div class="row">
  <div class="col-md-6">
    <a href="#" routerLink="/" class="btn btn-link"><i class="fa fa-circle-arrow-o-left"></i> Back To Dashboard</a>
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="card">
  <h3 class="card-header">Edit Settings</h3>
  <div class="card-block">
    <form (submit)="onSubmit()" class="form-online">
      <div class="form-group">
        <label for="allowRegistration">Allow Registration</label>
        <input type="checkbox" id="allowRegistration" [checked]="settings.allowRegistration" (change)="settings.allowRegistration = !settings.allowRegistration" name="allowRegistration">
      </div>
      <div class="form-group">
        <label for="disableBalanceOnAdd">Disable Balance On Add</label>
        <input type="checkbox" id="disableBalanceOnAdd" [checked]="settings.disableBalanceOnAdd" (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd" name="disableBalanceOnAdd">
      </div>
      <div class="form-group">
        <label for="disableBalanceOnEdit">Disable Balance On Edit</label>
        <input type="checkbox" id="disableBalanceOnEdit" [checked]="settings.disableBalanceOnEdit" (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit" name="disableBalanceOnEdit">
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Submit ">
    </form>
  </div>
</div>